*{
 margin:0;
 padding:0;
 }
 
 .container {
    width: 100%;
}
.navbar-default{
  background:#00420c;
  font-size: 16px;

}
.navbar-default .navbar-nav>li>a:hover {
    color:green;
    background-color: white;
}

.container {
    padding-right: 50px;
    padding-left: 17%;
    margin-right: auto;
    margin-left: auto;
    background: #137b25;
    min-height: 120px;
}
.container-fluid {

    margin-left: 220px;
    background: #00420c;
}

.container-rodape{
    margin-top:35px;
    margin-left: 220px;
    background: #00420c;
}


 h1{
  font-size: 3em;
 
 }
 a.link1:link{
   color:white;
   text-decoration:none;
 }
 a.link1:visited{
   color:#fff;;
   text-decoration:none;
   
 }
 a.link1:hover{
   color:#fff;
   text-decoration:none;
   
 }
 a.link1:active{
 color:#fff;
 text-decoration:none;
 }
 .container {
   color:#fff;
   margin:0px;
   line-height: 1em;
 
 }
 .container  ul{
   
   
 }
 .container  ul li{
  display:list-item;
  font-family: "open_sansextrabold", Arial, Helvetica, sans-serif;
  color:#fff;
  display:inline-block;
 
 }
 .container li.over ul{display:block;}
  .portal{
   margin: 17px;
   margin: 0 4px;
   color: #fff;
   font-size: 3em;
   font-family: "open_sansextrabold", Arial, Helvetica, sans-serif;
 
   line-height: 1em;
   text-align:left;
 }
 .navbar-nav{
  margin-left:2px;
 
}
.navbar {
    position: relative;
 
    margin-bottom: 20px;
    border: 0px solid transparent;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}
  ul{
   margin-top:21px;
   
 }
  ul li{
  display:list-item;
  font-family: "open_sansextrabold", Arial, Helvetica, sans-serif;
  color:#fff;
  display:inline-block;
 
 }
 
 
 .portal{
   margin: 17px;
   margin: 0 4px;
   color: #fff;
   font-size: 3em;
   font-family: "open_sansextrabold", Arial, Helvetica, sans-serif;
 
   line-height: 1em;
   text-align:left;
 }
 .formulario{
 
   float:right;
   position: absolute;
   right: 4%;
   top:1%;
   width: 15%;
 }

 section{
  
   width: 66%;
   margin-left:auto;
   margin-right: auto;
   
   margin-bottom: 20%;
 }
 
 h1{
   color:#1a2a39;
   font-size:3em;
   font-family:verdana,Arial,sans serif;
   text-align:center;
   
   
 }
 h3{
   
   color:#fff;
   font-size:1.3em;
   font-family: :sans serif, Verdana,Arial;
 }
 p{
   margin: 20px 3px 40px;
   
 }
 .lista{
   margin: 20px 3px 40px;
   padding-left:22px;
 }
 
 
 img {
   display: block;
   margin-left: auto;
   margin-right: auto;
 }
 .horarios{
  color:#1a2a39;
   text-align: center;
   margin: 20px 4px 70px;
   font-size: 1.5em
 }
 
 h4{
   text-align: center;
   font-size: 1.2em;
   color: #1a2a39;
   font-family: :sans serif, Verdana,Arial;
 }
 #celula1 {
   width: 100px;
   padding:10px;
   width: 300px;
   text-decoration: none;
   
   }
   #celula1 a:link{
     text-decoration:none;
     color:black;
   }
   #celula2 {
   width: 100px;
   padding:10px;
   width: 300px;
   }
   #celula2  {
   text-decoration: none;
   color:#ccc;
}
#celula1 a:hover {
color:black;
}
table, tr, td.disciplinas{
border: 2px solid green;
margin: auto;  
border-collapse: collapse;
text-align:center;
font-size:16px;
}
#cadastro{
  width:670px;
  font-size:40px;
}

.materiais{
text-align: center;
font-size: 35px;
}
a.link2:link{
color:black;
text-decoration:none;
}
a.link2:visited{
color:black;
text-decoration:none;
   
}
a.link2:hover{
font-weight: bold;
color:black;
text-decoration:underline;
}
 a.link2:active{
 color:black;
 text-decoration:underline;
 }
.navbar {
    position: relative;
 
    border: 0px solid transparent;
     border-radius: 0px;
}

#div_horarios{

  position: relative;
  margin-top:600px;
}
.navbar-fixed-bottom {
    bottom: 0;
    top: 80%;
    border-width: 1px 0 0;
    min-height: 20%;
    color: white;
}


   .fa-facebook-official{
    color: #fff;
    position: fixed;
    top:87%;
    left:900px;
    font-size:50px;

  }
  .fa-map-marker{
    color: #fff;
    position: fixed;
    top:87%;
    left:970px;
    font-size:50px;
  }
  .fa-instagram{
    color: #fff;
    position: fixed;
    top:87%;
    left:1020px;
    font-size:50px;
  }
  .input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn {
    height: 30px;
    padding: 10px 16px;

    line-height: 1.3333333;
    border-radius: 6px;
}
.input-group-addon, .input-group-lg>.input-group-btn>.btn {
    height: 46px;
    padding: 10px 16px;
    font-size: 11px;
    line-height: 1.3333333;
    border-radius: 6px;
}
.input-group-addon, .input-group-lg>.input-group-btn>.btn {
    height: 4px;
    padding: 10px 16px;
    font-size: 10px;
 
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 11;
    font-weight: 100;
    line-height: 1.42857143;
   
    margin-left: 190px;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: black;
}
.btn.focus, .btn:focus, .btn:hover {
    color: white;
    text-decoration: none;
}


.deslogar{
  float: right;
  position: absolute;
  right: -6%;
  top: 1%;
  width: 15%;
}
.nome_user{
  float: right;
  position: absolute;
  right: 7%;
  top: 1%;
  width: 15%;
  color:white;
  
}
.user_timeout{
  float: right;
  position: absolute;
  right: 7%;
  top: 1%;
  width: 18%;
  color:white;
  
}