button{
	display: block;
}
.hidden{
	display: none;
}

#div1{
	background-color:#137b25;
	position: absolute;
	top:40%; 
    left: 500px;
	color: #fff;
	width: 660px;
	height: 200px;
	z-index: 5;
}
#div2{
background-color:#137b25;
	position: absolute;
	top:40%; 
    left: 500px;
	color: #fff;
	width: 660px;
	height: 300px;
	z-index: 5;
}
#div3{
	background-color:#137b25;
	position: absolute;
	top:40%; 
    left: 500px;
	color: #fff;
	width: 660px;
	height: 200px;
	z-index: 5;
}
#div4{
	background-color:#137b25;
	position: absolute;
	top:40%; 
    left: 500px;
	color: #fff;
	width: 660px;
	height: 200px;
	z-index: 5;
}	
#div5{
	background-color:#137b25;
	position: absolute;
	top:40%; 
    left: 500px;
	color: #fff;
	width: 660px;
	height: 350px;
	z-index: 5;
}	
#div6{
	background-color:#137b25;
	position: absolute;
	top:40%; 
    left: 500px;
	color: #fff;
	width: 660px;
	height: 200px;
	z-index: 5;
}
#div7{
	background-color:#137b25;
	position: absolute;
	top:40%; 
    left: 500px;
	color: #fff;
	width: 660px;
	height: 330px;
	z-index: 5;
}
.paragrafos{
	text-align: auto;

	
}

.escondido{
	display: none;
}
.fa-times{
	float: right;
	

}